.env
.env.local
.env.*.local

/node_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist/
/build/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suip

.cache/
.temp/
.tmp/

coverage/

*.serviceAccount.json
*firebase-adminsdk*.json

users.json